input.ui-slider-input {
    display: none;
}

#current_word_container {
    word-wrap: break-word;
    width: 50%;
    float: left;
    padding-left: 5%;
}

#letter_container {
    position: absolute;
    height: 65%;
    width: 100%;
    text-align: center;
    margin: 0;
    padding:0;
}

#carer_container {
    width: 135px;
    float: right;
}

#settings_content {
    display: block;
    margin: auto auto;
    text-align: center;
}

#speed_label {
    font-size: 1.2em;
    display: inline;
}

#alphabet_form {
    padding-top: 2em;
}

#bottom_section {
    width: 100%;
    position: absolute;
    height: 33%;
    bottom: 0;
}

#writing_page {
    min-width: 300px;
    min-height: 300px;
}

#writing_page_content {
    margin: 0;
    padding: 0;
}
